{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Ajouter un Evènement</h1>

    {{ form_errors(addEventForm) }}

    {{ form_start(addEventForm) }}
        {{ form_row(addEventForm.datetime_start) }}
        {{ form_row(addEventForm.datetime_end) }}
        {{ form_row(addEventForm.titre) }}
        {{ form_row(addEventForm.description) }}
        {{ form_row(addEventForm.visibility) }}
        {{ form_row(addEventForm.users) }}

        <p class="error">{{ error }}</p>
        <button type="submit" class="btn">Add Event</button>
    {{ form_end(addEventForm) }}
</div>
{% endblock %}
