{% extends 'base.html.twig' %}

{% block title %}Profil User
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Your Profil</h1>

		<h2>Prénom :
			{{ user.firstname }}</h2>
		<h2>Nom :
			{{ user.name }}</h2>

		<h3>Email :{{ user.email }}</h3>

		<h4>Rôles :</h4>
		{% if is_granted('ROLE_ADMIN') %}
			<span class="admin">Administrateur</span>
		{% endif %}
		{% if is_granted('ROLE_ORGANISATEUR') %}
			<span class="orga">Organisateur</span>
		{% endif %}
		{% if is_granted('ROLE_USER') %}
			<span class="user">User</span>
		{% endif %}

		<h4>Evènements auquel vous participez :</h4>

		<table>
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Date Début</th>
					<th scope="col">Date Fin</th>
					<th scope="col">Titre</th>
					<th scope="col">Description</th>
					<th scope="col">Visibilité</th>
					<th scope="col">Event</th>
				</tr>
			</thead>
			<tbody>
				{% for event in user.events %}
					<tr>
						<th scope="row">{{event.id}}</th>
						<td>{{ event.datetimeStart|date("m/d/Y g:ia") }}</td>
						<td>{{ event.datetimeEnd|date("m/d/Y g:ia") }}</td>
						<td>{{event.titre}}</td>
						<td>{{event.description}}</td>

						{% if event.visibility == false %}
							<td class='txt_priv'>Privé</td>
						{% else %}
							<td class='txt_pub'>Public</td>
						{% endif %}

						<td>
                            {% if is_granted('ROLE_ORGANISATEUR') or is_granted('ROLE_ADMIN') %}
                                <button class="btn">
                                    <a href="{{ path('app_gestion') }}">View</a>
                                </button>
                            {% else %}
                                <button class="none">
                                    <a>No view</a>
                                </button>
                            {% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
