{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Page secrete</h1>
    <p>Vous êtes bien administrateur</p>
    
    <button class='btn'>
        <a href='/register'>Ajouter un utilisateur</a>
    </button>

    <h2>Utilisateurs : </h2>

    <table>
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Rôles</th>
            <th scope="col">Actif</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{user.id}}</th>
                <td>{{user.email}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.name}}</td>
                <td>
                {% for role in user.roles %}
                    {% if role == 'ROLE_USER' %}
                    <p class="text_role">Utilisateur</p>
                    {% elseif role == 'ROLE_ADMIN' %}
                    <p class="text_role">Administrateur</p>
                    {% elseif role == 'ROLE_ORGANISATEUR' %}
                    <p class="text_role">Organisateur</p>
                    {% endif %}
                {% endfor %}
                </td>
                
                {% if user.actif == false %}
                    <td class="txt_priv">Non</td>
                {% else %}
                    <td class="txt_pub">Oui</td>
                {% endif %}
                <td><button class="btn"><a href="{{ path('app_admin_modification', {'id': user.id}) }}">Modif</a></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
